<!--
 * Start Bootstrap - Agency v3.3.7+1 (http://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
-->
<!-- Copyright FUJITSU LIMITED 2016-2017 -->
<!DOCTYPE html>
<html lang="jp">
<html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<head>
    <title>
        <%- t('title_mypage') %>
    </title>
    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/sharingBusinessDemo.css" rel="stylesheet">
    <link href="/stylesheets/custom/home.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" class="index">
    <header>
        <%- include('_layout/header',{param:param}) -%>
    </header>

    <main role="main" class="container">
        <div id="mypage_info" style="margin-top:50px;">
            <h1>マイページ</h1>
            <% if (param=='1') { %>
                <form method="POST" action="/mypage/update">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Category</th>
                                <th scope="col">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">氏名</th>
                                <td>
                                    <input type="hidden" value="<%=extensions_id %>" name="extensions_id">
                                    <input type="hidden" value="<%= displayName %>" name="displayName"> 
                                    <input type="hidden" value="<%= MemberId %>" name="MemberId">
                                    <%= displayName %>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">ユーザID</th>
                                <td>
                                    <%= Account %>
                                    <input type="hidden" value="<%= Account %>" name="Account">
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">メールアドレス</th>
                                <td>
                                    <%= MailAddress %>
                                    <input type="hidden" value="<%= MailAddress %>" name="MailAddress">
                                </td>
                            </tr>

                            <!-- <tr>
                                <th scope="row">LastLoginTime</th>
                                <td>
                                    <%= LastLoginTime %>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Role</th>
                                <td>
                                    <%= role %>
                                    <input type="hidden" value="<%= role %>" name="role">
                                </td>
                            </tr> -->
                            <tr>
                                <th scope="row">現在のパスワード</th>
                                <td>
                                    <input type="password" name="old_password">
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">新しいパスワード</th>
                                <td>
                                    <input type="password" name="new_password1">
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">新しいパスワード(確認)</th>
                                <td>
                                    <input type="password" name="new_password2">
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <input type="submit" value="更新" class="btn btn-primary btn-lg btn-block">
                    
                </form>
                <% } else { %>
                    <h1>ログインしてください。</h1>
                    <% }; %>
        </div>

        <br>

    </main>


    <%- include('_layout/footer') -%>

        <!-- Portfolio Modals -->
        <!-- Use the modals below to showcase details about your portfolio projects! -->

        <!-- jQuery -->
        <script src="javascripts/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="javascripts/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="javascripts/demo.js"></script>


</body>

</html>