<!--
 * Start Bootstrap - Agency v3.3.7+1 (http://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
-->
<!-- Copyright FUJITSU LIMITED 2016-2017 -->
<!DOCTYPE html>
<html lang="jp">
<html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<head>
    <title>
        <%- t('title_detail') %>
    </title>
    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/stylesheets/sharingBusinessDemo.css" rel="stylesheet">
    <link href="/stylesheets/custom/home.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" class="index">
    <header>
        <%- include('_layout/header',headp ) -%>
    </header>
    <br>
    <div class="col-md-12 col-md-pull-8">
        <h1>野菜プロフィール</h1>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Value</th>
            </thead>
            <tbody>
                <tr>
                    <th>画像</th>
                    <th>
                        <img src="../images/upload/<%= matchingId %>.jpg" height="140" width="150">
                    </th>
                </tr>
                <tr>
                    <th>品種名</th>
                    <th>
                        <%= vege_variety_name %>
                    </th>
                </tr>
                <tr>
                    <th>産地</th>
                    <th>
                        <%= vege_location %>
                    </th>
                </tr>
                <tr>
                    <th>生産農家氏名</th>
                    <th>
                        <%= farmer_name %>さん
                    </th>
                </tr>
                <tr>
                    <th>重量</th>
                    <th>
                        <%= vege_gm %>
                    </th>
                </tr>
                <tr>
                    <th>個数</th>
                    <th>
                        <%= vege_quantity %>
                    </th>
                </tr>
                <tr>
                    <th>価格</th>
                    <th>
                        <%= vege_price %>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="form-vegeprofile">
        <form action="/vege-profile" method="POST">
            <input type="hidden" name="matchingId" value="<%= matchingId %>" id="h_matchingId" />
            <input type="hidden" name="accountId" value="<%= accountId %>" id="h_accountId" />
            <input type="hidden" name="delivery_place_latitude" value="<%- delivery_place_latitude %>" />
            <input type="hidden" name="delivery_place_longitude" value="<%- delivery_place_longitude %>" />
            <input type="hidden" name="extention_id_latitude" value="<%- extention_id_latitude %>" />
            <input type="hidden" name="extention_id_longtitude" value="<%- extention_id_longtitude %>" />
            
            <% if (matching_status === 0){ %>
                <button type="submit" value="確定" class="btn btn-primary mb-2 btn-lg btn-block">
                    確定
                </button>
            <% } else { %>
                    <button class="btn btn-default mb-2 btn-lg btn-block" disabled="disabled">
                        確定できません。
                    </button>
            <% } %>
        </form>
    </div>
    <br>
    <%- include('_layout/footer') -%>

        <!-- Portfolio Modals -->
        <!-- Use the modals below to showcase details about your portfolio projects! -->

        <!-- jQuery -->
        <script src="javascripts/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="javascripts/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="javascripts/demo.js"></script>
        <!-- <script type="text/javascript">
        $(function() {
            $('#reserve').on('click', function () {
                console.log('確定click');
                $(this).parents('form').attr('action', '/mypage/' + $(this).data('action'));
                $('#form_id').submit(function () {
                    console.log('送信しました！');
                });
            });
        });
        </script> -->
        <!-- <script>console.log("headp",<%- vege_location -%>)</script> -->
</body>

</html>